<form #f="ngForm">
  <fieldset>
    <section>
      <label for="email">Email</label>
      <input
        id="email"
        name="email"
        type="email"
        placeholder="Email"
        [(ngModel)]="email"
        #emailModel="ngModel"
        required
        email
        [attr.aria-invalid]="emailModel.invalid"
      />
      @if (this.modelInvalid(emailModel)) {
        <small>Invalid email</small>
      }
    </section>
    <section>
      <label for="password">Password</label>
      <input
        id="password"
        name="password"
        type="password"
        placeholder="Password"
        [(ngModel)]="password"
        #passwordModel="ngModel"
        required
        minlength="4"
        [attr.aria-invalid]="passwordModel.invalid"
      />
      @if (this.modelInvalid(passwordModel)) {
        <small>Password must be at least 4 characters long</small>
      }
    </section>
  </fieldset>
  <button type="submit" [disabled]="f.invalid" (click)="submit()">Login</button>
</form>
