<article>
  <app-page-header title="About Astro Bookings"></app-page-header>
  <main>
    <h3>Tech stack</h3>
    <ul>
      @for (tech of techStack; track tech.name) {
      <li>
        <a [href]="tech.url">{{ tech.name }}</a>
      </li>
      }
    </ul>
    <h3>Features</h3>
    <ul>
      @for (feature of features; track feature) {
      <li>{{ feature }}</li>
      }
    </ul>
  </main>
  <footer>
    <h3>Repository</h3>
    <a href="https://github.com/ankurinfoniti/angular-bookings" target="_blank">
      https://github.com/ankurinfoniti/angular-bookings
    </a>
  </footer>
</article>
